[submodule "Primer-Trimestre/Libros-Electronicos-SENA-By-Miguel-AVN"]
	path = Primer-Trimestre/Libros-Electronicos-SENA-By-Miguel-AVN
	url = https://github.com/yourusername/Libros-Electronicos-SENA-By-Miguel-AVN.git
