* {
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	min-width: 0;
}

.title{
    text-align: center;
}

.tituloh2{
    margin: 0px 30px 30px 30px;
    color: #fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.width-full{

    width: 100%;
}

.width-20{

    width: 20%;
}
.width-80{

    width: 80%;
}


.paragraph{
    font-size: 20px;
}

.aboutme{

    height: 80vh;
    width: 100%;
    max-height: 1000px;
    background: #6abcf2;
}



.aside{
    display: flex;
    height: 80vh;
    background: #0c7ec9;
    justify-content: center;
}

.img{

    margin-top: 20px;
    width: 200px;
    border-radius: 100px;   
    overflow: hidden;
    
    img{
        height: 100%;
        width: 100%;
    }
}