* {
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	min-width: 0;
}

a{
    color: aliceblue;
}

body{

    background: #333;
    color: aliceblue;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.brRadius{
    border-radius: 50px;
    overflow: hidden;
}

.main{
    width: 50vw;
    padding: 40px;
    background: #30373b;



    height: 85vh;
    max-height: 1000px;
}

.info{
    padding-top: 10px;
}

.width-full{

    width: 100%;
}

.width-20{

    width: 20%;
}

/* .width-80{

    width: 80%;
} */

.paragraph{
    font-size: 20px;
}

.aside{

    background: #191d20;
    height: 85vh;
  
    .aboutmeContac{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.img{

    margin-top: 20px;
    width: 200px;
    border-radius: 100px;   
    overflow: hidden;
    
    img{
        height: 100%;
        width: 100%;
    }
}

.skill{
    padding-top: 20px;
}